/* style.css */

/* Style général de la page */
body {
    font-family: 'Roboto', sans-serif;
    background-color: #f4f7fc;
    margin: 0;
    padding: 0;
    color: #333;
    display: flex;
}

/* Conteneur principal */
#content {
    width: 80%;
    margin: 30px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-left: 280px; /* Ajoute une marge à gauche pour le TOC */
}

h1 {
    color: #3f51b5;
    font-size: 48px;
}

h2 {
    margin-top: 40px;
    color: #3f51b5;
    font-size: 20px;
}

h3 {
    margin-top: 40px;
    color: #3f51b5;
    font-size: 20px;
}

a {
    color: #3f51b5;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

/* Tableaux stylisés */
table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
    background-color: #f9f9f9;
}

th, td {
    padding: 12px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

th {
    background-color: #3f51b5;
    color: white;
}

td {
    background-color: #fafafa;
}

td input[type="text"] {
    padding: 8px;
    margin: 5px 0;
    border: 1px solid #ccc;
    border-radius: 4px;
    width: 100%;
}

/* Stylisation des groupes de boutons radio */
td div {
    display: flex;
    align-items: center;
    gap: 10px;  /* Espacement entre les boutons radio et leurs labels */
}

td input[type="radio"] {
    margin: 0;  /* Enlever la marge par défaut autour des boutons radio */
}

td label {
    font-size: 16px;
    cursor: pointer;
}

.feedback {
    font-weight: bold;
    color: #28a745;
    padding-top: 10px;
}

/* Style des boutons */
button {
    background-color: #3f51b5;
    color: white;
    border: none;
    padding: 12px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    margin-top: 20px;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #283593;
}

/* Conteneur du TOC */
#toc {
    position: fixed; /* Fixe le TOC à gauche de l'écran */
    top: 20px; /* Légère marge en haut */
    left: 20px; /* Marge à gauche */
    width: 200px; /* Largeur fixe du TOC */
    background-color: #fff;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    z-index: 10; /* Assure que le TOC soit au-dessus du contenu */
    max-height: 100vh;
    overflow-y: auto; /* Permet de faire défiler le TOC si le contenu est trop long */
    font-size: 16px;
    list-style-type: none;
}

#toc li {
    margin: 10px 0;
    position: relative;
}

#toc li a {
    font-size: 16px;
    font-weight: 500;
    color: #3f51b5;
    text-decoration: none;
    text-decoration: none;
    font-weight: 500;
    display: block;
    padding: 5px 5px;
    border-radius: 4px;
    transition: background-color 0.3s ease, color 0.3s ease;
}

#toc li a:hover {
    text-decoration: underline;
    background-color: #007bff;
    color: #fff;
}

#toc ul {
    list-style-type: none;
    /* padding-left: 20px; */
    /* display: none; */
    transition: all 0.3s ease;
}

#toc li:hover > ul {
    display: block;
}

#toc > li > a {
    font-size: 18px;
    font-weight: 600;
}

#toc li li > a {
    font-size: 16px;
    font-weight: 500;
}

#toc li {
    transform: translateY(-10px);
    transition: all 0.3s ease-in-out;
}

#toc li:nth-child(even) {
    transition-delay: 0.1s;
}

#toc li:nth-child(odd) {
    transition-delay: 0.2s;
}

#toc li.show {
    transform: translateY(0);
}